.divisor_dashboard {
  display: block;
  padding: 1rem 2rem 1rem 2rem;
}

.divisor_title {
  display: flex !important;
  justify-content: space-between;
}

.divisor_content {
  display: flex !important;
  justify-content: space-between;
}

.divisor_informations {
  display: inline;
  width: 65% !important;
  border: solid;
  border-color: #b97166;
  border-radius: 20px;
  margin: -0.1rem 0rem 1rem 0rem;
  padding: 4% 3% 0% 3%;
}

.item_informations {
  text-align: center;
  font-size: 2rem;
  color: #b97166;
  border: solid;
  border-radius: 12px;
  border-color: #b97166;
}

.title_dashboard {
  margin: 0rem;
  font-size: 400%;
  font-family: Brush Script MT, Brush Script Std;
  color: #b97166;
  display: inline;
  text-align: right;
}

.carousel_dashboard {
  width: 32% !important;
  margin: -0.1rem 0rem 1rem 0rem;
  display: block;
}

img {
  border: solid;
  border-radius: 20px !important;
  border-color: white !important;
}