.divisor_bottom {
  background-color: #eddbd9;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  display: flex;
}

.title_bottom {
  font-size: 2.3rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #b97166;
  margin: 0% !important;
  padding: 0.8rem !important;
}