.divisor_header {
  background-color: #eddbd9;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  display: flex;
}

.title_menu {
  font-size: 4rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #b97166;
  margin: 0% !important;
  padding: 0% !important;
}

a.title_item {
  text-decoration: none;
  font-size: 20px;
  color: #b97166;
}

.dropdown_icon {
  font-size: 15px;
}

.btn:not(:disabled):not(.disabled) {
  background-color: #b97166;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b97166 !important;
  border-color: #b7665b !important;
  box-shadow: 0 0 0 0.2rem #b7665b !important;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem #b7665b !important;
}