.carousel {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
}

.div_carousel {
  border-radius: 12px;
  background-color: #eddbd9;
  margin: auto;
}

.carousel-control-prev {
  margin-left: -50%;
}

.carousel-control-next {
  margin-right: -50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  color: black;
}