.divisor_dashboard {
  width: 100%;
  height: 100%;
  background-color: #eddbd9;
  border-radius: 12px;
  margin-top: 10px;
  padding: 10%;
}

.border_dashboard {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: #b97166;
  border-radius: 15px;
  text-align: center;
}

.FaInstagram, .FaWhatsapp,.instagram_dashboard, .contact_dashboard {
  margin: auto;
}

.FaInstagram, .FaWhatsapp, .FaMapMarkerAlt {
  color: #b97166;
  display: inline;
  justify-content: center;
  margin-right: 12px;
}

.instagram_dashboard, .contact_dashboard, .address_dashboard {
  color: #b97166;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Brush Script MT';
  display: inline;
}