.title_email {
  color: #b97166;
  font-size: 35px;
  font-family: 'Brush Script MT';
  background-color: #eddbd9;
  margin-top: 22px;
}

.FaPaperPlane {
  color: #b97166;
  font-size: 30px;
  font-family: 'Brush Script MT';
  background-color: #eddbd9;
  margin-top: 5px;
}