.FaCalendarAlt, .FaShippingFast, .FaHourglassHalf {
  color: #b97166;
  display: inline;
}

.funcionamento_cardapio, .cardapio_cardapio, .entregas_cardapio {
  color: #b97166;
  display: inline;
  margin: auto;
  font-family: 'Brush Script MT';
  font-size: 40px;
}

.funcionamento_footer, .precos_footer, .entregas_footer {
  display: inline;
  cursor: pointer;
}

.footer_candy {
  border-radius: 12px;
  background-color: #eddbd9;
  margin: auto;
  width: auto;
  float: initial;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.footer_title {
  color: #b97166;
  font-family: 'Brush Script MT',  cursive;
  font-size: 40px;
  text-align: center;
}

.entregas_popover_content {
  background-color: black;
}