.navbar_top {
  width: 100%;
  background-color: #eddbd9;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image_logomarca {
  width: 15%;
}

.informations_menu, .candys_menu {
  color: #b97166;
  font-family: 'Brush Script MT',  cursive;
  font-size: 50px;
}