.body_modal, .header_modal {
  background-color: #eddbd9;
}

.title_modal {
  color: #b97166;
  font-size: 35px;
  font-family: 'Brush Script MT';
  background-color: #eddbd9;
  margin-bottom: -30px;
}

.title_content_modal {
  color: #b97166;
  font-size: 20px;
  font-family: 'Brush Script MT';
  background-color: #eddbd9;
  margin-top: -22px;
  margin-bottom: 22px;
}

.candy_modal {
  color: #b97166;
  font-size: 15px;
  background-color: #eddbd9;
  margin-bottom: -2px;
}