.funcionamento_popover_content, .precos_popover_content, .entregas_popover_content {
  background-color: #b97166;
  border-radius: 12px;
}

#popover-contained {
 background-color: #b97166;
 border-radius: 12px;
}

.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
  bottom: 1px;
  border-width: .5rem .5rem 0;
  border-top-color: #b97166;
}

.h1_popover {
  color: #eddbd9;
}

.p_popover {
  color: #eddbd9;
}