.calculadora {
  border: solid;
  border-radius: 12px;
  padding: 2% 0% 2% 0%;
  display: block;
}

.teclado {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.visor {
  border: solid;
  border-radius: 5px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  background-color: #afafff;
  margin: 0% auto 2%;
}

.number_visor {
  margin: 1%;
  font-size: 30px;
  font-family: Impact, fantasy;
}

.clear_visor {
  margin: 1%;
  font-size: 30px;
  font-family: Impact, fantasy;
  cursor: pointer;
}

.item_calculadora {
  border: solid;
  border-radius: 5px;
  font-size: 30px;
  background-color: #aaaabc;
  cursor: pointer;
  margin: auto 3%;
  text-align: center;
}

.item_calculadora:active {
  background-color: #afafff;
}