.body_conversor {
  background-color: black;
  display: block;
  padding: 5%;
  width: 20%;
}

.conversor {
  color: white;
  display: flex;
}

.cotacao {
  color: white;
  display: flex;
}

.moeda_um, .moeda_dois, .botao_converter {
  display: inline;
}