.title_calculadora {
  font-family: fantasy;
  text-align: center;
}

.div_links {
  border: solid;
  border-radius: 12px;
  margin: auto;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link_operacao {
  text-decoration: none;
  display: inline;
  justify-content: center;
  border: solid;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border-color: black;
  font-size: 30px;
  background-color: #aaaaaa;
  color: black;
}