.title_operacao {
  font-family: fantasy;
  text-align: center;
  margin: 0% 0% 5% 0% !important;
}

.content_operacao {
  border: solid;
  border-radius: 12px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.content_input {
  border: solid;
  border-radius: 12px;
  padding: 10%;
  justify-content: center;
}

.content_numeros {
  display: flex;
  justify-content: space-between;
}

.button_resultado {
  width: 40%;
  height: 2rem !important;
  color: black;
  background-color: #aaaaaa;
  border-radius: 5px;
  margin-left: 27%;
}

.button_clear {
  width: 40%;
  height: 2rem !important;
  margin: 6% 0% 0% 27%;
  color: black;
  background-color: #aaaaaa;
  border-radius: 5px;
}

.numero_input {
  width: 40%;
  height: 2rem !important;
  text-align: center;
  margin-bottom: 5%;
  border: solid;
  border-radius: 5px;
  display: inline;  
}

.resultado {
  width: 40%;
  height: 3rem !important;
  text-align: center;
  margin: 6% 0% 0% 25%;
  display: flex;
  border-radius: 5px;
  font-size: 30px;
  border: solid;
}